.slotcmn{
	height: 225px;
	width: 100%;
}

.popover { max-width: 100% !important;
		   z-index: 100 !important;
		   position: relative;
		}

#black{
	color: #000000;
}

#bgimg{
	/*background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);*/
	background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

#box {
  background-color: rgba(255, 255, 255, 0.1);
  /*border-radius: 5px;*/
  /*font-family: sans-serif;*/
  /*text-align: center;*/
  /*line-height: 1;*/
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(15px);
  /*z-index: 100000;*/
  /*max-width: 50%;
  max-height: 50%;
  padding: 20px 40px;*/
}

.box {
  background-color: rgba(255, 255, 255, 0.1);
  /*border-radius: 5px;*/
  /*font-family: sans-serif;*/
  /*text-align: center;*/
  /*line-height: 1;*/
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(08px);
  /*max-width: 50%;
  max-height: 50%;
  padding: 20px 40px;*/
}
